
<div class="header">
    <h1>ÜYE PANELİ</h1>
  </div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Hamburger menü butonu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Menü elementleri -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">KURSLARIM</a>
            </li>
            
            
        </ul>
    </div>
  </nav>
  
  <!-- Kenar çubuğu -->
  <div class="sidebar d-none d-md-block">
    <a routerLink="randevu">SEANS BİLDİR</a>
    <button class="btn" (click)="logout()">Çıkış Yap</button>
  </div>

      <div class="card-container">
          <div class="card">
              <h3>FİTNESS</h3>
              <p>KALAN GÜN SAYISI:30</p>
              <p>Başlangıç Tarihi: 01/01/2024</p>
              <p>Bitiş Tarihi: 31/12/2024</p>
          </div>
          <div class="card">
              <h3>YOGA</h3>
              <p>KALAN GÜN SAYISI:13</p>
              <p>Başlangıç Tarihi: 01/02/2024</p>
              <p>Bitiş Tarihi: 30/12/2024</p>
          </div>
          <!-- Diğer kartlar buraya eklenebilir -->
      </div>

    

  
  
  
  